/* Other rules */

.header {
    height: 5px;
    width: 1024;
    display: flex;
    flex-wrap: wrap;
   padding-left: 20px;
    padding: auto;
    border-bottom: grey solid 1px;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 50px;
    width: 1280px;
    display: flex;
    align-items: center;
    
}



.offer {
    height: 360px;
    width: 235px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 5px;
    margin-bottom: 5px;   
}

.cont1 {
    height: 100%;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1 img {
    height: 30px;
}
    

.cont2 {
    width: 500px;
    background-color: green ;
}


.cont5 {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 auto;

}


.inscription {
height: 28px;
width: 113px;
background-color: white;
color: green;
border: green solid 1px;
border-radius: 5px;
cursor: pointer;
}


.connexion {
height: 28px;
width: 113px;
background-color: white;
color: green;
border: green solid 1px;
border-radius: 5px;
cursor: pointer;
margin-left: 6px;
}

.double {
    height: 28px;
    width: 250px;
    background-color: white;
    color: green;
    border: green solid 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    align-items: center;
    }
.vend {
    /* height: 38px;
    width: 0px; */
    border-radius: 5px;
    cursor: pointer;
        }


.logo {
height: 25px;
justify-content: center;
align-items: center;
}